<nav>
  <div class="nav">
    <div class="navbar">
      <h1>{{ isLoggedIn() ? 'Selamat datang, ' + authService.getUsername() : 'Data Member' }}</h1>
      <div class="dropdown-menu">
        <button class="toggle-menu" (click)="toggleMenu()">
          <i *ngIf="!isMenuOpen" class="fas fa-bars"></i>
          <i *ngIf="isMenuOpen" class="fas fa-times" id="open"></i>
        </button>
      </div>
      
    </div>
    <div class="navbar-btn">
      <ul [ngClass]="{ 'show-menu': isMenuOpen }">
        <li><button routerLink="/dashboard"><i class="fas fa-list-ul"></i>Daftar Member</button></li>
        <li><button *ngIf="isLoggedIn()" routerLink="/tambah"><i class="fas fa-plus"></i>Tambah Member</button></li>
        <li>
          <ng-container *ngIf="authService.isLoggedIn(); else showLoginButton">
            <!-- Tombol Logout -->
            <button (click)="logout()" class="logout-button"><i class="fas fa-sign-out-alt"></i>Logout</button>
          </ng-container>
          <ng-template #showLoginButton>
            <!-- Tombol Login -->
            <button routerLink="/login" class="login-button"><i class="fas fa-sign-in-alt"></i>Login</button>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
